<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blockPages</key>
	<array>
		<array>
			<dict>
				<key>block_pk</key>
				<string>1</string>
			</dict>
			<dict>
				<key>block_pk</key>
				<string>100</string>
			</dict>
		</array>
	</array>
	<key>docks</key>
	<array>
		<dict>
			<key>block_pk</key>
			<string>2</string>
		</dict>
		<dict>
			<key>block_pk</key>
			<string>3</string>
		</dict>
	</array>
</dict>
</plist>
