<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocks</key>
	<array>
		<dict>
			<key>pk</key>
			<string>1</string>
			<key>api_url</key>
			<string>http://www.cres-moon.com/</string>
			<key>block_title</key>
			<string>新浪微博</string>
			<key>pic</key>
			<string>http://www.cres-moon.com/images/weibo_default_logo.png</string>
			<key>tabinfoUrl</key>
			<string>http://www.cres-moon.com/</string>
			<key>showType</key>
			<string>file</string>
			<key>type</key>
			<string>weibo</string>
			<key>permissions</key>
			<string>common</string>
		</dict>
		<dict>
			<key>pk</key>
			<string>2</string>
			<key>api_url</key>
			<string>http://www.cres-moon.com/</string>
			<key>block_title</key>
			<string>添加</string>
			<key>pic</key>
			<string>http://www.cres-moon.com/images/add_icon.png</string>
			<key>showType</key>
			<string>file</string>
			<key>type</key>
			<string>add</string>
			<key>permissions</key>
			<string>system</string>
		</dict>
		<dict>
			<key>pk</key>
			<string>3</string>
			<key>api_url</key>
			<string>http://www.cres-moon.com/</string>
			<key>block_title</key>
			<string>设置</string>
			<key>pic</key>
			<string>http://www.cres-moon.com/images/setting.png</string>
			<key>showType</key>
			<string>file</string>
			<key>type</key>
			<string>setting</string>
			<key>permissions</key>
			<string>system</string>
		</dict>
		<dict>
			<key>pk</key>
			<string>100</string>
			<key>api_url</key>
			<string>http://www.cres-moon.com/</string>
			<key>block_title</key>
			<string>腾讯微博</string>
			<key>pic</key>
			<string>http://www.cres-moon.com/images/qq_default_logo.png</string>
			<key>tabinfoUrl</key>
			<string>http://www.cres-moon.com/</string>
			<key>showType</key>
			<string>file</string>
			<key>type</key>
			<string>qq</string>
			<key>permissions</key>
			<string>common</string>
		</dict>
	</array>
	<key>folders</key>
	<array/>
	<key>newBlocks</key>
	<array>
		<dict>
			<key>pk</key>
			<string>101</string>
			<key>api_url</key>
			<string>http://www.cres-moon.com/</string>
			<key>block_title</key>
			<string>下载</string>
			<key>pic</key>
			<string>http://www.cres-moon.com/images/qq_default_logo.png</string>
			<key>tabinfoUrl</key>
			<string>http://www.cres-moon.com/</string>
			<key>showType</key>
			<string>file</string>
			<key>type</key>
			<string>download</string>
			<key>permissions</key>
			<string>system</string>
		</dict>
	</array>
	<key>isNew</key>
	<string>0</string>
</dict>
</plist>
